# Large data files
data/raw/flights_raw.csv
data/output/

# Airflow
airflow/airflow.db
airflow/logs/
airflow/airflow-webserver.pid

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/jaffle_shop/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Mac
.DS_Store
